@font-face {
 font-family: 'porshefont';
 src: url(911porschav3title.ttf);
}

*{
 margin: 0;
 padding :0;
 overflow: hidden;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
 list-style-type: none;
}

.container{
 display: flex;
}

#car{
 width: 30vw;
 height: auto;
}

#right{
 width:70vw;
 background-color: #FCFBF4;
}

.container-right{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: flex-start;
 padding-left: 50px;
 margin-top: 150px;
}

.section1{
 font-size: 1.5em;
}

#s1item{
 margin-bottom: 20px;
}

#headerS2{
 margin-top: 30px;
 font-size: 1.5em;
 padding-bottom: 20px;
}

.section2{
 background-color: powderblue;
 width: 100%;
}
.formS2{
 display: flex;
 flex-wrap: wrap;
 width: 400px;
 gap: 20px;
}

li{
 display:flex;
 flex-direction: column;
 gap: 5px;
}